:root {
    --border-color: rgb(255,255,255,0.1);
    --main-color: rgb(8, 210, 210);
}

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: "Rubik", sans-serif;
    font-weight: 400;
    color: white;
}

html{
    scroll-behavior: smooth;
}

body {
    background-color:  rgb(6,11,25);
}

/* Navigation bar section*/
a{
    text-decoration: none;
}

nav{
    display: flex;
    width: 100%;
    border-bottom: 1px solid var(--border-color);
    /* makes nav bar fixed */
    position: fixed;
    left: 0;
    top: 0;
    z-index: 100;
    border-top: 0;
    background-color: rgb(7, 6, 25);
}

nav > .nav-section{
    padding: 3rem, 2rem;
    display: flex;
    gap: 1rem;
    border-left:  1px solid var(--border-color);
    align-items: center;
    justify-content: center;
}

#nav-logo-section,
#nav-link-section{
    flex-basis: calc(100% / 3)
}

#nav-logo-section {
    justify-content: flex-start;
}

#nav-logo-section > a > i {
   font-size: 2.5rem;
}

#nav-social-section,
#nav-contact-section{
    flex-grow: 1;
}

#nav-link-section{
    gap: 6rem;
}

#nav-social-section{
    gap: 2rem;
}

/* Header section */

/* Backgound image. */
/* maybe put banner here */
/* #header{
    width: 100%;
    height: 100vh;
    background-image: url('../Images/backimage.jpg');
    background-size: cover;
    background-position: center;
} */

.header-text{
    margin-top: 5%;
    font-size: 30px;
}

.header-text h1{
    font-size: 60px;
    margin-top: 20px;
}
.header-text h1 span{
    color:  var(--main-color);
}

/* About me section*/
#about{
    /* FIXME: after picture change, change padding to 80px 50px; */
    padding: 80px 0;
}
.row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.about-col-1{
    flex-basis: 35%;
}

.about-col-1 img{
    width: 100%;
    border-radius: 15px;
}

.about-col-2{
    flex-basis: 60%;
}

/* about me subtitle section */
.sub-title{
    font-size: 50px;
    font-weight: bold;
}

.tab-titles{
    display: flex;
    margin: 20px 0 40px;
}

/* under line link section */
.tab-links{
    margin-right: 50px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    position: relative;
}

.tab-links::after{
    content: '';
    width: 0;
    height: 3px;
    background: var(--main-color);
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: 0.5s;
}

.tab-links.active-link::after{
    width: 75%;
}

/* tab context styling */
.tab-contents ul li{
    list-style: none;
    margin: 10px 0;
}

.tab-contents ul li span{
    color: rgba(8, 210, 210, 0.813);
    font-size: 14px;
}

.tab-contents{
    display: none;
}

.tab-contents.active-tab{
    display: block;
}

/* Projects Section*/
#portfolio{
    /* FIXME: put it to 50px 50px after picture change */
    padding: 50px 0;
}

/* sets pictures in a grid evenly spaced out */
.work-list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;
}

.work{
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}

/* makes images rounded and adds a trasition to the image */
.work img{
    width: 100%;
    border-radius: 2%;
    display: block;
    transition: transform 0.5s;
}

/* color gradiant  */
.layer{
    width: 100%;
    height: 0;
    background: linear-gradient(rgba(0,0,0,0.6), var(--main-color));
    border-radius: 10px;
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    text-align: center;
    font-size: 14px;
    transition: height 0.5s;
}

.layer h3{
    font-weight: bold;
    margin-bottom: 20px;
}

/* adds circle link to picture transition */
.layer a i{
    margin-top: 20px;
    color: var(--main-color);
    text-decoration: none;
    font-size: 18px;
    line-height: 60px;
    background: white;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    text-align: center;
}

/* zooms in on image on hover */
.work:hover img{
    transform: scale(1.1);
}

/* adds the trasition of color to 100% */
.work:hover .layer{
    height: 100%;
}

/* see more button */
.button{
    display: block;
    margin: 50px auto;
    width: fit-content;
    border: 1px solid var(--main-color);
    padding: 14px 50px;
    border-radius: 6px;
    text-decoration: none;
    color: white;
    transition:  0.5s;
}

.button:hover{
    background: var(--main-color);
}

/* adds Blur effect to text */
#blur{
    color: transparent;
    text-shadow: 0 0 8px white;
    font-weight: bold;
}


/* Footer Section */
footer{
    bottom: 0px;
    width: 100%;
    border-top: 1px solid var(--main-color);
}

.footer-content{
    display: flex;
}

.footer-content .box{
    flex-basis: 50%;
    padding: 10px 20px;
}

.box h2{
    font-size: 1.125rem;
    font-weight: 600;
    text-transform: uppercase;
}

.box .content{
    margin: 20px 0 0 0;
}

.box .content p{
    text-align: justify;
}

/* Left section */
.left .content .footer-social{
    margin: 20px 0 0 0;
}

.left .content .footer-social a{
    padding: 0 2px;
}

.left .content .footer-social a i{
    height: 40px;
    width: 40px;
    line-height: 40px;
    text-align: center;
    font-size: 18px;
    border-radius: 5px;
    transition: 0.3s;
}

.left .content .footer-social a i:hover{
    background: var(--main-color);
}

/* middle section */
.center .content .icon{
    font-size: 1.4375rem;
    height: 45px;
    width: 45px;
    line-height: 45px;
    text-align: center;
    border-radius: 50%;
    transition: 0.3s;
}

.center .content .icon:hover{
   background: var(--main-color);
}

.center .content .text{
    font-size: 1.0625rem;
    font-weight: 500;
    padding-left: 10px;
}

.center .content .phone{
    margin: 10px 0;
}

/* right section */
.right form .text{
    font-size: 1.0625rem;
    margin-bottom: 2px;
}

.right .content form .message{
    margin-top: 10px;
}

.right .content form input, 
.right form textarea{
    width: 100%;
    font-size: 1.0625rem;
    background: var(--border-color);
    padding-left: 10px;
    border: 1px solid var(--border-color);
}

.right .content form input:focus,
.right form textarea:focus{
    outline-color: var(--main-color);
}

.right form input{
    height: 35px;
}

/* footer button */
.right form .footer-button{
    margin-top: 10px;
}

.right form .footer-button button{
    display: block;
    margin: 0px auto;
    width: fit-content;
    border: 1px solid var(--main-color);
    padding: 14px 50px;
    border-radius: 6px;
    outline: none;
    background: var(--border-color);
    font-size: 1.0625rem;
    font-weight: 500;
    cursor: pointer;
    transition: 0.3s;
}

.right form .footer-button button:hover{
    background: var(--main-color);
}